<template>
  <div >
    <div class="q-ma-lg q-mt-md">
      <div class="row ">

        <div class="col q-mr-lg ">
          <div class="bg-grey-2 q-pa-lg">
            <div class="row">
              <span class="text-h4 text-primary">General</span>
              <q-space />
            </div>
            <div class="q-gutter-md q-mt-lg" style="width: 100%">
              <div id="q-app">
                <div class="example-row-horizontal-alignment">
                  <div>
                    <div class="col-4 text-subtitle1 q-mt-lg text-h6">
                      Your Git URL
                    </div>
                    <div class="col-4" style="background-color: white;">
                      <InputBox :hint="inputHint" :onClick="urlHandler" :value="gitUrl" :fetch="fetchProjects" />
                    </div>
                  </div>
                </div>
              </div>
              <div id="q-app" class="q-mt-md">
                <div class="example-row-horizontal-alignment q-mb-lg">
                  <div>
                    <div class="text-subtitle1">
                      Your Access Token
                    </div>
                    <div class="col-4" style="background-color: white;">
                      <InputBox class="q-pa-xl" :hint="accessHint" :onClick="accessHandler" :value="accessToken"
                        :textType="false" :fetch="fetchProjects" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="q-gutter-md" style="max-width: 400px">
            </div>
          </div>
          <div class="bg-grey-2 q-mt-lg q-pa-sm">
            <div class="text-h4  text-primary q-pa-md">Time Settings</div>
            <div class="q-pa-md">
              <div class="q-gutter-y-md column">
                <q-input bg-color="white" :min=0 :max=24
                  :rules="[(val => val >= 0 && val <= 24) || 'Please use valid number of Hours']"
                  hint="default value 8" @update:model-value="validateDay" color="grey-8" label-color="primary"
                  type="number" outlined v-model.number="hourDays" label="Working Hours in a Day">
                  <template v-slot:prepend>
                    <q-icon name="timer" />
                  </template>
                </q-input>

                <q-input bg-color="white" :min=0 :max=7
                  :rules="[(val => val >= 0 && val <= 7) || 'Please use valid number of Days']" hint="default value 5"
                  @update:model-value="validateWeek" color="grey-3" label-color="primary" type="number" outlined
                  v-model.number="weekDays" label="Working Days in a Week">
                  <template v-slot:prepend>
                    <q-icon name="timer" />
                  </template>
                </q-input>

                <q-input bg-color="white" @update:model-value="validateMinLimit" v-model="min_limit"
                  label="Minimum Availability Limit" mask="#.#" fill-mask="0" hint="default value 0.8" outlined
                  reverse-fill-mask label-color="primary">
                  <template v-slot:prepend>
                    <q-icon name="timer" />
                  </template>
                </q-input>

                <q-input bg-color="white" @update:model-value="validateMaxLimit" v-model="max_limit"
                  label="Maximum Availability Limit" mask="#.#" fill-mask="0" hint="default value 1.2" outlined
                  reverse-fill-mask label-color="primary">
                  <template v-slot:prepend>
                    <q-icon name="timer" />
                  </template>
                </q-input>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-grey-2 col  q-pa-sm"  >
          <div class="row">
            <span class="text-h4  q-pb-md text-primary q-pa-md">
              Projects Settings
            </span>
            <q-space />

            <q-toggle class="text-teal" v-model="showIssueRepository" color="teal" label="Issue repositories only"
              left-label />
            <q-avatar size="45px" class="cursor-pointer q-mt-md q-mr-sm" @click="fetchProjects">
              <i class="text-primary fa-solid fa-rotate-right"></i>
              <q-tooltip transition-show="scale" transition-hide="scale">
                Refresh
              </q-tooltip>
            </q-avatar>
            <q-avatar size="45px" class="cursor-pointer q-mt-md " @click="() => { clearSelections = !clearSelections }">
              <i class="text-primary fa-solid fa-square-xmark"></i>
              <q-tooltip transition-show="scale" transition-hide="scale">
                Clear Selections
              </q-tooltip>
            </q-avatar>
            <!-- <q-btn dense class="float-right q-ma-lg q-mt-sm" style="height: 100%;" color="primary"
              label='Clear Selections' @click="() => { clearSelections = !clearSelections }" /> -->
          </div>
          <div class="col-4 text-subtitle1 q-mb-md q-ml-md text-h6">
            Select From The Projects :
          </div>
          <div style="max-height: 650px;  overflow: auto;" class="">
            <div v-if="options && options.length !== 0">
              <p v-for="n in 1" :key="n" class="q-ml-sm">
                <CheckBoxList :filter="showIssueRepository" :clearSelections="clearSelections"
                  :projectsFetched="projectsFetched" />
              </p>
            </div>
            <q-card v-if="!options || options.length === 0" class="issue-card q-pa-sm  q-mr-md q-ml-md"
              v-ripple>
              <div class="text-grey text-center text-h6 q-mt-sm q-mb-xs">No Projects To Show</div>
            </q-card>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { ref } from 'vue'
import axios from 'axios';
import { useQuasar } from 'quasar'
import { Loading, QSpinnerGears } from 'quasar'
// import { remote } from 'electron';
// import { ipcRenderer } from 'electron';
import { userURL, userAccessToken, options, dictionary, group, hourValues } from './store.js';
import InputBox from '../components/input.vue'
import CheckBoxList from 'src/components/CheckBoxList.vue';
export default {
  created() {
    if (Object.keys(this.hourValuesDict).length === 0) {
      this.hourValuesDict = {
        'hourDays': this.hourDays,
        'weekDays': this.weekDays,
        'monthDays': this.monthDays,
        'min_limit': this.min_limit,
        'max_limit': this.max_limit
      }

      localStorage.setItem('hourValues', JSON.stringify(this.hourValuesDict));
      console.log(this.hourValuesDict, "**********************")
    }
  },
  mounted() {
  },
  setup() {
    const $q = useQuasar()
    return {
      projectsFetched: ref(false),
      clearSelections: ref(false),
      hourDays: ref(hourValues.value.hourDays ? hourValues.value.hourDays : 8),
      weekDays: ref(hourValues.value.weekDays ? hourValues.value.weekDays : 5),
      monthDays: ref(hourValues.value.monthDays ? hourValues.value.monthDays : 8),
      min_limit: ref(hourValues.value.min_limit ? hourValues.value.min_limit : 0.8),
      max_limit: ref(hourValues.value.max_limit ? hourValues.value.max_limit : 1.2),
      text: ref(""),
      group: group,
      showIssueRepository: ref(false),
      fetchError: ref(false),
      gitUrl: userURL,
      hourValuesDict: hourValues,
      accessToken: userAccessToken,
      projects: [],
      options: options,
      dictionary: dictionary,
      inputHint: "Git URL",
      accessHint: "Accesss Token",
      triggerNegative() {
        $q.notify({
          type: 'negative',
          message: "Something's Wrong, Please Enter Valid URL or Access Token"
        })
      },
      triggerPositive() {
        $q.notify({
          type: 'positive',
          message: 'Successfully Retrieved Your Projects'
        })
      },
    }
  },
  methods: {
    validateMaxLimit(value) {
      this.max_limit = Number(value);
      this.validateInput();
    },
    validateMinLimit(value) {
      this.min_limit = Number(value);
      this.validateInput();
    },
    validateDay(value) {
      this.hourDays = value;
      this.validateInput();
    },
    validateWeek(value) {
      this.weekDays = value;
      this.validateInput();

    },
    validateMonth(value) {
      this.monthDays = vlaue;
      this.validateInput();
    },
    validateInput(value) {
      // function to validate the input values in the time settings
      if (this.hourDays >= 0 && this.hourDays <= 24 && this.weekDays >= 0 && this.weekDays <= 7 && this.monthDays >= 0 && this.monthDays <= 31) {
        this.hourValuesDict = {
          'hourDays': this.hourDays,
          'weekDays': this.weekDays,
          'monthDays': this.monthDays,
          'min_limit': this.min_limit,
          'max_limit': this.max_limit
        }
        localStorage.setItem('hourValues', JSON.stringify(this.hourValuesDict));
      }
    },
    urlHandler(inputurl) {
      // function set the url entered by the user in the local storage
      this.gitUrl = inputurl
      localStorage.setItem('userURL', JSON.stringify(inputurl));
    },
    accessHandler(inputaccess) {
      // function set the access token entered by the user in the local storage
      this.accessToken = inputaccess;
      localStorage.setItem('userAccessToken', JSON.stringify(inputaccess))

    },
    async fetchProjects() {
      // function to fetch all the projects

      // the selected user and the project are removed from the resouce and project view respectively
      localStorage.removeItem("selectedUserInResourceView");
      localStorage.removeItem('selectedProject')
      Loading.show();
      const accessToken = this.accessToken;
      const apiUrl = this.gitUrl;

      //getting all the projects using pagination:
      try {
        this.group = [] // group is the list of selected projects
        localStorage.setItem('group', JSON.stringify([]))
        let page = 1;
        this.projects = [];
        while (true) {
          const response = await axios.get(`${apiUrl}/api/v4/projects`, {
            headers: {
              'PRIVATE-TOKEN': accessToken,
            },
            params: { membership: true, page },
          });
          const projects = response.data;
          if (projects.length === 0) {
            break; // Exit the loop if no projects are returned
          }
          this.projects = [...this.projects, ...projects];
          page++;
        }
        // project options that are to be shown
        let option_list = []

        //dictionary of project name, project id as the key value pairs
        let dict = {};
        for (let i = 0; i < this.projects.length; i++) {
          option_list = [...option_list, { label: this.projects[i].name, value: this.projects[i].name }]
          dict[this.projects[i].name] = this.projects[i].id;
        }

        this.options = option_list;
        // set the values of dicationary and the selected options in the local storage
        // the stored values are used by the store.js file to be accessed by projectView and the ResourceView
        localStorage.setItem('options', JSON.stringify(option_list))
        localStorage.setItem('dictionary', JSON.stringify(dict))

        this.dictionary = dict;
        this.triggerPositive()
        Loading.hide();
        this.projectsFetched = !this.projectsFetched
      } catch (error) {
        // if error clear the options, dictionary, group values
        Loading.hide();
        this.triggerNegative();
        options.value = []
        group.value = []
        localStorage.removeItem('selectedProject')
        localStorage.setItem('options', JSON.stringify(options.value))
        localStorage.setItem('group', JSON.stringify(group.value))
        console.error('Error retrieving projects:', error);
        this.projectsFetched = !this.projectsFetched
      }
    },
  },
  components: {
    'InputBox': InputBox,
    'CheckBoxList': CheckBoxList
  },
}
</script>
