<template >
  <div v-if="true">

    <div class="q-pa-md" style="max-width: 100%">
      <div>


        <div class="row q-ma-sm">
          <div class="col q-mr-sm q-pr-md">
            <q-select v-model="model" use-input input-debounce="0" label="Select User" :options="options"
              style="width: 100%" behavior="dialog" @update:model-value="fetchUserInfo">
            </q-select>
          </div>
          <div class="col">
          </div>
        </div>


        <div class="row">
          <q-card flat class="col flat q-ma-sm bg-grey-3">
            <q-card flat class="bg-grey-3" style="width:100%;">
              <div class="text-h5 q-pl-lg text-primary"
                style="display: flex; justify-content: space-between; align-items: center;">
                <div>Project List</div>
                <q-space />
                <q-avatar size="45px" class="cursor-pointer q-mt-md q-mr-md" @click="fetchData()">
                  <i class="text-primary fa-solid fa-rotate-right"></i>
                  <q-tooltip transition-show="scale" transition-hide="scale">
                    Refresh
                  </q-tooltip>
                </q-avatar>
              </div>
              <div class="q-pl-md q-pr-md q-ml-sm" style="width: 100%; height: 780px;">
                <div class="row q-pr-md">
                  <div class="col q-pr-sm">
                    <div class="q-gutter-md">
                      <q-select class="bg-grey-1" outlined v-model="selectedListItem" :options="selectListOptions"
                        label="State" @update:model-value="listItemSeleted">
                      </q-select>
                    </div>
                  </div>
                  <q-space />
                  <div class="col q-pr-sm">
                    <div class="q-gutter-md">
                      <q-select class="bg-grey-1" outlined v-model="selectedListItemTracking"
                        :options="selectListOptionsTracking.map(item => item.title).filter(item => item !== 'Custom')"
                        label="Tracking" emit-value map-options @update:model-value="listItemSeleted">
                        <template v-slot:option="{ itemProps, opt }">
                          <q-item v-bind="itemProps">
                            <q-chip
                              :style="{ backgroundColor: selectListOptionsTracking.filter(item => item.title === opt)[0].color }"
                              style=" text-align: end;" size="13px">
                              {{ opt }}
                            </q-chip>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                  </div>
                  <q-space />
                  <div class="col q-pr-sm">
                    <div class="q-gutter-md">

                      <q-select class="bg-grey-1" outlined v-model="labelDataTypeSelected" :options="labelDataType"
                        label="Type" multiple emit-value map-options @update:model-value="listItemSeleted">
                        <template v-slot:option="{ itemProps, opt, selected, toggleOption }">
                          <q-item v-bind="itemProps">
                            <q-checkbox :model-value="selected" @update:model-value="toggleOption(opt)" />
                            <q-chip :style="{ backgroundColor: opt.color }" size="12px">
                              {{ opt.label }}
                            </q-chip>

                          </q-item>
                        </template>
                      </q-select>
                    </div>
                  </div>
                  <q-space />
                  <div class="col">
                    <div class="q-gutter-md">
                      <q-select class="bg-grey-1" outlined v-model="labelDataUncertaintySelected"
                        :options="labelDataUncertainty" label="Uncertainty" multiple emit-value map-options
                        @update:model-value="listItemSeleted">
                        <template v-slot:option="{ itemProps, opt, selected, toggleOption }">
                          <q-item v-bind="itemProps">
                            <q-checkbox :model-value="selected" @update:model-value="toggleOption(opt)" />
                            <q-chip style="" :style="{ backgroundColor: opt.color }" size="12px">
                              {{ opt.label.split(':')[1] }}
                            </q-chip>
                            <q-item-section>
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <!-- <q-select  outlined v-model="selectedMoreFilterItem" :options="moreFilterOptions"   label="more-filters" @update:model-value="moreFilterSelected"/> -->
                    <div class="row q-mt-sm ">
                      <div class="col">
                        <q-checkbox v-model="moreFilterOptions" val="without estimate" label="Without Estimate"
                          color="teal" @update:model-value="listItemSeleted" />
                      </div>
                      <div class="col">
                        <q-checkbox v-model="moreFilterOptions" val="without due date" label="Without Due Date"
                          color="orange" @update:model-value="listItemSeleted" />
                      </div>
                    </div>
                  </div>
                  <div class="col">
                  </div>
                </div>


                <q-scroll-area class="q-mt-sm q-pr-md" style="height:650px;">
                  <div v-for="id of Object.keys(mapOfProjectIdToProjectForAUser)" :key="id">
                    <q-card v-if="mapOfProjectIdToProjectForAUser[id]" flat bordered
                      class="issue-card q-pt-md q-pb-md  q-mt-sm" v-ripple>
                      <div class="row">
                        <q-chip class="q-mr-md q-ml-sm" dense icon="fa-solid fa-clipboard">
                          {{ id }}
                          <q-tooltip transition-show="scale" transition-hide="scale">
                            Project Id
                          </q-tooltip>
                        </q-chip>
                        <div class="text-subtitle1">
                          <strong>
                            {{ mapOfProjectIdToProjectForAUser[id].name }}
                          </strong>
                          <i @click="openLink( mapOfProjectIdToProjectForAUser[id].web_url)"
                            class="fas fa-external-link-alt q-ml-sm text-primary cursor-pointer">
                            <q-tooltip transition-show="scale" transition-hide="scale">
                              Open Issue in Gitlab
                            </q-tooltip>
                          </i>
                        </div>
                      </div>
                      <div class="row ">
                        <div class="col">
                          <q-breadcrumbs separator="" class="q-mt-sm q-ml-sm">
                            <q-chip v-if=selectedListItem size="12px">
                              <q-avatar color="green" text-color="white">{{
                                mapOfProjectIdToProjectForAUser[id].total_tasks }}</q-avatar>
                              Tasks
                            </q-chip>
                            <q-breadcrumbs-el
                              :class="compareDateWithToday(mapOfProjectIdToProjectForAUser[id].latest_due_date)"
                              icon="fa-solid fa-calendar"
                              :label="mapOfProjectIdToProjectForAUser[id].latest_due_date ? mapOfProjectIdToProjectForAUser[id].latest_due_date : '----/--/--'">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Earliest Due Date!
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <q-breadcrumbs-el
                              :class="compareDateWithToday(mapOfProjectIdToProjectForAUser[id].farthest_due_date)"
                              icon="fa-regular fa-calendar-days"
                              :label="mapOfProjectIdToProjectForAUser[id].farthest_due_date ? mapOfProjectIdToProjectForAUser[id].farthest_due_date : '----/--/--'">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Farthest Due Date!
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <q-breadcrumbs-el :label="mapOfProjectIdToProjectForAUser[id].time_estimate + ' hr'"
                              icon="fa-solid fa-hourglass-start">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Time Estimate!
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <q-breadcrumbs-el :label="(mapOfProjectIdToProjectForAUser[id].total_time_spent).toFixed(2) + ' hr'"
                              v-if="true" icon="fa-solid fa-clock">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Time Spent!
                              </q-tooltip>
                            </q-breadcrumbs-el>

                            <q-breadcrumbs-el v-if="true"
                              :class="mapOfProjectIdToProjectForAUser[id].total_time_spent > mapOfProjectIdToProjectForAUser[id].time_estimate ? 'text-red' : 'text-primary'"
                              icon="fa-solid fa-spinner">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                % effort spent
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <div class="col-2" style="width: 100px;">
                              <q-linear-progress v-for="size in ['sm']" :key="size" :size="size"
                                :value="mapOfProjectIdToProjectForAUser[id].time_estimate == 0 ? 0 : mapOfProjectIdToProjectForAUser[id].total_time_spent / mapOfProjectIdToProjectForAUser[id].time_estimate"
                                :color="mapOfProjectIdToProjectForAUser[id].total_time_spent > mapOfProjectIdToProjectForAUser[id].time_estimate ? 'red' : 'primary'" />
                            </div>
                            <span class="col-2 text-primary">
                              {{ '% ' + (mapOfProjectIdToProjectForAUser[id].time_estimate == 0 ? 0 :
                                mapOfProjectIdToProjectForAUser[id].total_time_spent /
                                mapOfProjectIdToProjectForAUser[id].time_estimate * 100).toFixed(2) }}
                            </span>
                          </q-breadcrumbs>
                        </div>
                        <q-space />
                      </div>
                    </q-card>
                  </div>
                  <q-card v-if="filteredListItems.length === 0" class="issue-card q-pa-sm q-mt-sm" v-ripple>
                    <div class="text-grey text-center text-h6 q-mt-sm q-mb-xs">No Projects to show</div>
                  </q-card>
                </q-scroll-area>
              </div>
            </q-card>
          </q-card>
          <q-card flat class="col q-ma-sm bg-grey-3 ">

            <q-card flat style="width:100%;">
              <div class="bg-grey-3">
                <div class="text-h5 q-mt-sm q-pl-lg q-pt-sm text-primary"
                  style="display: flex; justify-content: space-between; align-items: center;">
                  <div>Task Summary</div>
                </div>
                <!-- <q-separator class="q-ml-lg q-mt-sm"/> -->
                <div class="q-ml-lg  q-mt-sm " style="display: flex; align-items: center;">
                  <q-chip v-if=selectedListItemTracking
                    :style="{ backgroundColor: selectListOptionsTracking.filter(item => item.title === selectedListItemTracking)[0].color }"
                    icon="fa-solid fa-clipboard" size="12px">
                    {{ selectedListItemTracking }}
                  </q-chip>
                  <q-chip v-if=selectedListItem size="12px">
                    <q-avatar color="green" text-color="white">{{ filteredListItems.length }}</q-avatar>
                    Tasks
                  </q-chip>

                  <q-chip v-if=selectedListItem size="12px">
                    <q-avatar color="red" text-color="white">{{ filteredListItems.filter(item => item.assignee ===
                      null).length }}</q-avatar>
                    Unassigned
                  </q-chip>
                </div>

                <q-separator class="q-ml-lg q-mr-lg" />
                <div class="q-pa-md q-ml-sm q-mr-lg" style="width: 100%;">
                  <div id="q-app ">
                    <div class=" q-gutter-md">
                      <q-list bordered class="rounded-borders bg-grey-1 q-mr-md">
                        <!-- <q-item-label header>Summary</q-item-label> -->
                        <q-list class="row ">
                          <q-item class="col " clickable v-ripple style="border-right: 1px solid #d1cdcd;">
                            <q-item-section avatar top>
                              <q-avatar icon="assignment" color="grey" text-color="white"></q-avatar>
                            </q-item-section>

                            <q-item-section>
                              <q-item-label lines="1">Total Effort Estimate</q-item-label>
                              <q-item-label caption>Estimated for
                                {{ filteredListItems ? filteredListItems.reduce((count, item) =>
                                  item.time_stats.human_time_estimate ? count + 1 : count, 0) === filteredListItems.length
                                  && filteredListItems.length !== 0
                                  ? "All" : filteredListItems.reduce((count, item) => item.time_stats.human_time_estimate ?
                                    count + 1 : count, 0)
                                  + " " : "- - -" }} Tasks</q-item-label>
                            </q-item-section>
                            <q-item-section side>
                              {{ filteredListItems && filteredListItems.length > 0 ?
                                filteredListItems.reduce((total, item) => total + item.time_stats.time_estimate, 0) / 3600
                                + " hr" : "------" }}
                            </q-item-section>
                          </q-item>

                          <q-item class="col" clickable v-ripple>
                            <q-item-section avatar top>
                              <q-avatar icon="assignment" color="grey" text-color="white"></q-avatar>
                            </q-item-section>

                            <q-item-section>
                              <q-item-label lines="1">Total Effort Spent</q-item-label>
                              <q-item-label caption>Spent for {{
                                filteredListItems ? filteredListItems.reduce((count, item) =>
                                  item.time_stats.human_total_time_spent ? count + 1 : count, 0) ===
                                  filteredListItems.length
                                  && filteredListItems.length !== 0 ?
                                "All" : filteredListItems.reduce((count, item) => item.time_stats.human_total_time_spent ?
                                  count + 1 : count, 0)
                                + " " : "- - -" }} Tasks</q-item-label>
                            </q-item-section>

                            <q-item-section side>
                              {{ filteredListItems.length > 0 ? (filteredListItems.reduce((total, item) => total +
                                item.time_stats.total_time_spent, 0) / 3600).toFixed(2)
                                + " hr" : "------" }}
                            </q-item-section>
                          </q-item>
                        </q-list>

                        <q-list class="row">
                          <q-item class="col" clickable v-ripple style="border-right: 1px solid #d1cdcd;">
                            <q-item-section avatar top>
                              <q-avatar icon="assignment" color="grey" text-color="white"></q-avatar>
                            </q-item-section>

                            <q-item-section>
                              <q-item-label lines="1">Earliest Due </q-item-label>
                              <q-item-label caption> For The Task : {{
                                calculateLatestDueDate() ? "#" + filteredListItems.filter(item => item.due_date ===
                                  calculateLatestDueDate())[0].iid + ', of the project : ' + filteredListItems?.filter(item => item.due_date ===
                                  calculateLatestDueDate())[0].project_id: ''
                              }}</q-item-label>
                            </q-item-section>

                            <q-item-section side
                              :class="compareDateWithToday(calculateLatestDueDate()) ? 'text-red' : ''">
                              {{ calculateLatestDueDate() ? calculateLatestDueDate() : "------" }}
                            </q-item-section>
                          </q-item>

                          <q-item class="col" clickable v-ripple>
                            <q-item-section avatar top>
                              <q-avatar icon="assignment" color="grey" text-color="white"></q-avatar>
                            </q-item-section>

                            <q-item-section>
                              <q-item-label lines="1">Farthest Due</q-item-label>
                              <q-item-label caption> For Task : {{
                                calculateFarthestDueDate() ? "#" + filteredListItems.filter(item => item.due_date ===
                                  calculateFarthestDueDate())[0].iid + ', of the project : ' + filteredListItems?.filter(item => item.due_date ===
                                calculateFarthestDueDate())[0].project_id: ''
                              }}</q-item-label>
                            </q-item-section>

                            <q-item-section side
                              :class="compareDateWithToday(calculateFarthestDueDate()) ? 'text-red' : ''">
                              {{ calculateFarthestDueDate() ? calculateFarthestDueDate() : '------' }}
                            </q-item-section>
                          </q-item>
                        </q-list>

                        <q-item class="" clickable v-ripple style="border-top: 1px solid #d1cdcd;">
                          <q-item-section avatar top>
                            <q-avatar icon="assignment" color="grey" text-color="white"></q-avatar>
                          </q-item-section>

                          <q-item-section>
                            <q-item-label lines="1">Progress </q-item-label>
                            <q-item-label caption>
                              Total
                            </q-item-label>
                          </q-item-section>

                          <div side style="width: 45%;" class="q-pt-sm">
                            <q-linear-progress v-for="size in ['sm']" :key="size" :size="size" :value="filteredListItems.reduce((total, item) => total +
                              item.time_stats.time_estimate, 0) === 0 ? 0 : filteredListItems.reduce((total, item) => total +
                                item.time_stats.total_time_spent, 0) / filteredListItems.reduce((total, item) => total +
                                  item.time_stats.time_estimate, 0)" :color="filteredListItems.reduce((total, item) => total +
        item.time_stats.total_time_spent, 0) > filteredListItems.reduce((total, item) => total +
          item.time_stats.time_estimate, 0) ? 'red' : 'primary'" />
                            <div class="q-pt-sm">{{ filteredListItems.reduce((total, item) => total +
                              item.time_stats.time_estimate, 0) === 0 ? 0 :
                              (Number(filteredListItems.reduce((total, item) => total +
                                item.time_stats.total_time_spent, 0) / filteredListItems.reduce((total, item) => total +
                                  item.time_stats.time_estimate, 0)).toFixed(2) * 100).toFixed(2) }} %
                            </div>
                          </div>
                        </q-item>
                      </q-list>
                    </div>
                  </div>
                </div>
              </div>
              <div class="q-pa-lg  bg-grey-3 q-pb-lg">
                <div class="text-h5 q-mb-md  q-pt-sm text-primary"
                  style="display: flex; justify-content: space-between; align-items: center;">
                  <div>Resource Summary</div>
                </div>

                <div class="row">
                  <div class="col">
                    <q-select class="bg-grey-1 col" outlined v-model="selectedTrackingForResourceSummary"
                      :options="selectListOptionsTracking.map(item => item.title).filter(item => item !== 'doing' && item !== 'None')"
                      label="Tracking" emit-value map-options @update:model-value="getInformationOfAllUsers">
                      <template v-slot:option="{ itemProps, opt }">
                        <q-item v-bind="itemProps">
                          <!-- <q-item-section/> -->
                          <q-item-section>
                            <q-item-label>
                              <q-chip
                                :style="{ backgroundColor: selectListOptionsTracking.filter(item => item.title === opt)[0].color }"
                                size="13px">
                                {{ opt }}
                              </q-chip>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <q-space />
                  <q-input v-if="customDateForResourceSummay" class="col bg-grey-1 q-ml-md" outlined
                    v-model="resourceEndDate" mask="date">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                          <q-date v-model="resourceEndDate" :options="dateOptionFilter">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>

                <q-chip class="q-mt-lg" size="12px">
                  <q-avatar color="green" text-color="white">{{ Object.keys(informationOfAllUsers).length }}</q-avatar>
                  Users
                </q-chip>
                <div style="max-height: 350px; position: relative; overflow: auto;">
                  <div v-for="n in 1" :key="n">
                    <q-card flat class="issue-card q-mt-sm q-pr-md q-pl-md bg-white" v-ripple
                      v-for="key in Object.keys(informationOfAllUsers)" :key="key">
                      <div class="row">
                        <div class="text-subtitle1 q-pt-sm">
                          <q-breadcrumbs-el @click="openDialogOfResourceViewForNonManagableTasks(key)"
                            v-if="CheckIfAllIssuesAreManaged(key) && CheckIfAllIssuesAreManaged(key).length !== 0"
                            class="cursor-pointer text-orange q-mr-sm" icon="fa-solid fa-triangle-exclamation">
                            <q-tooltip max-width="200px" transition-show="scale" transition-hide="scale">
                              click to see non-Manageable tasks - {{ CheckIfAllIssuesAreManaged(key).length }}.
                              These tasks  cannot be completed considering the remainig time available (from due date) and all the previously due tasks (see documentation for more info)
                            </q-tooltip>
                          </q-breadcrumbs-el>
                          <span>
                            {{ key }}
                          </span>
                        </div>
                        <q-space />
                        <div style="width: 70%;" class="q-mr-xl">
                          <div class="q-pl-md q-pt-md">
                            <q-linear-progress :class="setColorOfLoadingWarning(key)" v-for="size in ['sm']" :key="size"
                              :size="size" :value="calculateOccupancyHours(true, key) / calculateOccupancyHours()" />
                          </div>
                        </div>
                      </div>
                      <div class="row items-center q-pb-sm q-mr-md">
                        <q-space />
                        <div style="width: 70%;" class="q-mr-lg row">
                          <q-breadcrumbs separator="" class="text-grey">

                            <q-breadcrumbs-el class="text-primary" :label="calculateOccupancyHours(true, key) + ' hr'"
                              icon="fa-solid fa-hourglass-start">
                              <q-tooltip max-width="200px" transition-show="scale" transition-hide="scale">
                                Total Remaining Effort (see documentation for more information)
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <q-breadcrumbs-el class="text-primary" :label="calculateOccupancyHours() + ' hr'"
                              icon="fa-solid fa-clock">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Total Available Time
                              </q-tooltip>
                            </q-breadcrumbs-el>
                            <q-breadcrumbs-el @click="openDialogOfResourceViewForNonManagableTasks(key, true)"
                              v-if="CalculateOverdueOfAssignee(key) && CalculateOverdueOfAssignee(key).value > 0"
                              class="cursor-pointer text-red" :label="CalculateOverdueOfAssignee(key).value + ' hr'"
                              icon="fa-solid fa-triangle-exclamation">
                              <q-tooltip transition-show="scale" transition-hide="scale">
                                Total Effort Overdue ( for {{ CalculateOverdueOfAssignee(key).issues.length }} tasks)
                              </q-tooltip>
                            </q-breadcrumbs-el>
                          </q-breadcrumbs>
                          <q-space />
                          <div class="row q-mr-sm text-primary">
                            {{ (calculateOccupancyHours(true, key) / calculateOccupancyHours() * 100).toFixed(2) }} %
                            Occupied ( {{ mapOfUserToIssues[key]&& mapOfUserToIssues[key].filter(item => item.due_date &&
                              compareDateWithToday(item.due_date) === "").length }} tasks)
                          </div>
                        </div>

                      </div>
                    </q-card>
                  </div>
                </div>
                <q-separator class="" />
                <q-card v-if="Object.keys(informationOfAllUsers).length === 0" class="issue-card q-pa-sm q-mt-sm"
                  v-ripple>
                  <div class="text-grey text-center text-h6 q-mt-sm q-mb-xs">No Users to show</div>
                </q-card>
              </div>
            </q-card>
          </q-card>
        </div>

        <q-dialog v-model="showDialogOfResourceViewForNonManagableTasks">
          <q-card style="width: 100%; border: 2cap;">
            <q-card-section class="row items-center " style="background-color: #69a5e9">
              <div class="text-h6" style="display: flex; justify-content: space-between; align-items: center;">
                <div>{{ TitleOfDialogOfResourceViewForNonManagableTasks }}</div>
              </div>
              <q-space />
              <q-btn icon="close" flat round dense v-close-popup />
            </q-card-section>
            <q-list bordered class="bg-grey-4 rounded-borders"
              v-for="key in Object.keys(issueGroupListForNonManagableIssues)" :key="key">
              <q-expansion-item class="bg-grey-4" expand-separator :label=key caption=""
                style="background-color: rgb(255, 255, 255);">
                <template v-slot:header>
                  <q-item-section class="text-subtitle1">
                    <strong>
                      {{ key }}
                    </strong>
                  </q-item-section>
                </template>
                <q-separator />
                <div class="bg-grey-2 " v-for="issue in issueGroupListForNonManagableIssues[key]" :key="issue.id">
                  <div clickable v-ripple class="issue-card q-pa-md">
                    <div class="text-subtitle1 row">
                      <div>
                        <span v-if="issue.title.length > 30">
                          <span>{{ issue.title.substring(0, 30) + '.....' }}</span>
                          <q-tooltip max-width="200px" transition-show="scale" transition-hide="scale">
                            {{ issue.title }}
                          </q-tooltip>
                        </span>
                        <span v-else>
                          {{ issue.title }}
                        </span>
                        <i @click="openLink(issue.web_url)"
                          class="cursor-pointer fas fa-external-link-alt q-ml-sm text-primary">
                          <q-tooltip transition-show="scale" transition-hide="scale">
                            Open Issue in Gitlab
                          </q-tooltip>
                        </i>
                      </div>
                      <q-space />
                    </div>
                    <div class="row">
                      <div style="display: flex;">
                        <q-breadcrumbs separator="" class="q-mt-sm">

                          <q-breadcrumbs-el :label="'#' + issue.iid" icon="fa-solid fa-clipboard">
                            <q-tooltip transition-show="scale" transition-hide="scale">
                              Issue
                            </q-tooltip>
                          </q-breadcrumbs-el>
                          <q-breadcrumbs-el :class="compareDateWithToday(issue.due_date)" icon="fa-solid fa-calendar"
                            :label="issue.due_date ? issue.due_date : '----/--/--'">
                            <q-tooltip transition-show="scale" transition-hide="scale">
                              Due Date!
                            </q-tooltip>
                          </q-breadcrumbs-el>
                          <q-breadcrumbs-el :class="issue.time_stats.human_time_estimate ? 'text-primary' : 'text-red'"
                            :label="issue.time_stats.human_time_estimate ? issue.time_stats.human_time_estimate : ' ---- '"
                            icon="fa-solid fa-hourglass-start">
                            <q-tooltip transition-show="scale" transition-hide="scale">
                              Time Estimate!
                            </q-tooltip>
                          </q-breadcrumbs-el>
                          <q-breadcrumbs-el
                            :class="issue.time_stats.human_total_time_spent ? 'text-primary' : 'text-primary'"
                            :label="issue.time_stats.human_total_time_spent ? issue.time_stats.human_total_time_spent : ' ---- '"
                            v-if="true" icon="fa-solid fa-clock">
                            <q-tooltip transition-show="scale" transition-hide="scale">
                              Time Spent!
                            </q-tooltip>
                          </q-breadcrumbs-el>

                        </q-breadcrumbs>
                      </div>
                      <!-- <q-space /> -->
                    </div>
                  </div>
                  <q-separator />
                </div>

              </q-expansion-item>
            </q-list>
          </q-card>
        </q-dialog>

      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { userURL, userAccessToken, dictionary, group, hourValues } from './store.js';
import axios from 'axios';
import { useQuasar } from 'quasar'
import { Loading, QSpinnerGears } from 'quasar'
export default {
  async created() {
    // function to fetch all the issues and the label data
    this.fetchData();
    let path = this.$q.electron ? 'statics/data/countries.json' : 'data/labelInform.json';
    this.getJsonData(path)
      .then(data => {
        this.labelData = data;
        this.labelNames = this.labelData.map((item) => item.title)
        this.selectListOptions = ['All', 'Open', 'Non Scheduled', 'Closed']
        this.selectListOptionsTracking = [...this.labelData.filter(item => !(item.title.startsWith('uncertainity') || item.title.startsWith('type')))];
        this.selectListOptionsTracking = [...this.selectListOptionsTracking,
        {
          "title": "None",
          "description": "clear tracking",
          "color": "while",
          "priority": 0
        },
        {
          "title": "Custom",
          "description": "clear tracking",
          "color": "while",
          "priority": 0
        }
        ]

      })
      .catch(error => {
        console.error('Error loading JSON:', error);
      });

    path = this.$q.electron ? 'statics/data/countries.json' : 'data/additional_labels.json';
    this.getJsonData(path)
      .then(data => {
        this.labelDataType = data.filter(item => item.title.startsWith('type')).map((item, index) => ({ 'label': item.title, 'value': item.title, 'color': item.color }));
        this.labelDataUncertainty = data.filter(item => item.title.startsWith('uncertainity')).map((item, index) => ({ 'label': item.title, 'value': item.title, 'color': item.color }));
      })
      .catch(error => {
        console.error('Error loading JSON:', error);
      });
  },
  mounted() {
    // hours available this month and the next month
    this.mapOfTrackingToHours.next_month = this.getWorkingDays(false) * hourValues.value.hourDays;
    this.mapOfTrackingToHours.this_month = this.getWorkingDays() * hourValues.value.hourDays;
  },
  setup() {
    const $q = useQuasar()
    return {
      TitleOfDialogOfResourceViewForNonManagableTasks: ref(""),
      showDialogOfResourceViewForNonManagableTasks: ref(false),
      issueGroupListForNonManagableIssues: ref(null),
      customDateForResourceSummay: ref(false),
      resourceEndDate: ref(null),
      dateOptionFilter(date) {
        // to diable the date selection which are in the past
        let d = new Date();
        // Get the year, month, and day from the Date object
        let year = d.getFullYear();
        let month = String(d.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so we add 1
        let day = String(d.getDate()).padStart(2, '0');
        // Construct the date string in the format "yyyy/mm/dd"
        let dateString = `${year}/${month}/${day}`;
        return date >= dateString
      },
      loadingWarningFraction: ref(null),
      loadingWarning: ref(""),
      selectedTrackingForResourceSummary: ref('this_week'),
      mapOfTrackingToHours: ref(
        {
          'next_month': hourValues.value.monthDays * hourValues.value.hourDays,
          'this_month': hourValues.value.monthDays * hourValues.value.hourDays,
          'doing': hourValues.value.hourDays,
          'this_week': hourValues.value.weekDays * hourValues.value.hourDays,
          'min_limit': hourValues.value.min_limit,
          'max_limit': hourValues.value.max_limit

        }
      ),
      informationOfAllUsers: ref({}),
      listOfProjectIds: ref([]),
      mapOfProjectIdToProject: ref({}),
      mapOfProjectIdToProjectForAUser: ref({}),
      selectListOptionsTracking: ref([]),
      options: ref([]),
      mapOfUserToIssues: ref({}),
      labelDataTypeSelected: ref([]),
      labelDataUncertaintySelected: ref([]),
      labelDataType: ref([]),
      labelDataUncertainty: ref([]),
      groupOfMileStones: ref({ 'Other': [] }),
      milestonesData: ref([]),
      progress1: ref(0.65),
      componentCreated: ref(false),
      moreFilterOptions: ref([]),
      filteredListItems: ref([]),
      showProjectInformation: ref(false),
      labelToIssueMap: ref({}),
      selectedListItem: ref("Open"),
      selectedListItemTracking: ref(""),
      selectedUserAssignee: ref(""),
      selectedMoreFilterItem: ref(""),
      selectListOptions: ref(['All', 'Non Scheduled', 'Closed']),
      selectUserOptions: ref([]),
      newLabelList: ref([]),
      closedIssues: [],
      openedIssues: [],
      issues: [
        {
          id: 1,
          state: 'opened',
          authorAvatar: 'path/to/avatar.png',
          title: 'Example Issue 1',
          due_date: "2022-04-05",
          createdAt: '2023-06-01',
          labels: ['Bug'],
        },
        {
          id: 2,
          authorAvatar: 'path/to/avatar.png',
          title: 'Example Issue 2',
          due_date: "2022-04-05",
          createdAt: '2023-06-02',
          labels: ['Feature'],
        },
        // Add more issues as needed
      ],
      filteredIssuesForUser: ref([]),
      listBoardWrong: ref(false),
      showListChangeMessage: ref(false),
      labelIds: ref([]),
      listToChangePosition: ref([]),
      developmentBoardId: ref(null),
      labelsPresent: ref(false),
      labelNames: ref([]),
      labelData: ref([]),
      labelNeedToChange: ref(false),
      initialName: '',
      labelToBeChanged: [],
      showLabelMessage: ref(false),
      showLabelChangeMessage: ref(false),
      initialCode: '',
      initialValue: '',
      initialTargetClosure: '',
      initialEffort: '',
      name: ref(""),
      projectId: ref(""),
      issue_id: ref("-1"),
      code: ref(""),
      value: ref(""),
      target_closure: ref(""),
      effort: ref(""),
      dialogConf: ref(false),
      dialogMilestones: ref(false),
      model: ref(null),
      edit: ref(false),
      configured: ref(false),
      gitUrl: userURL,
      dictionary: dictionary,
      accessToken: userAccessToken,
      issue: ref({}),
      description: ref({}),
      triggerNegative(message) {
        $q.notify({
          type: 'negative',
          message: message
        })
      },
      triggerPositive(message) {
        $q.notify({
          type: 'positive',
          message: message
        })
      },

    };
  },

  methods: {
    openLink(url) {
      // open the project in the users default browser
      window.openBrowser?.openLink(url)
    },
    swapKeysAndValues(originalDict) {
      // function to create the dictionary of value key pair
      const swappedDict = {};
      for (const key in originalDict) {
        if (originalDict.hasOwnProperty(key)) {
          swappedDict[originalDict[key]] = key;
        }
      }
      return swappedDict;
    },
    openDialogOfResourceViewForNonManagableTasks(key, overdue = false) {
      // non managale tasks or the over due task dialog is opned
      let issues = this.CheckIfAllIssuesAreManaged(key);
      this.TitleOfDialogOfResourceViewForNonManagableTasks = "Non-Manageable Tasks"
      if (overdue) {
        this.TitleOfDialogOfResourceViewForNonManagableTasks = "Overdue Tasks"
        issues = this.CalculateOverdueOfAssignee(key).issues;
      }
      this.issueGroupListForNonManagableIssues = this.groupIssuesByProject(issues);
      this.showDialogOfResourceViewForNonManagableTasks = true;
    },
    groupIssuesByProject(issuesList) {
      const groupedIssues = {};
      const modifiedDictionary = this.swapKeysAndValues(this.dictionary)
      for (const issue of issuesList) {
        const projectId = issue.project_id;
        if (projectId) {
          if (!groupedIssues[modifiedDictionary[projectId]]) {
            groupedIssues[modifiedDictionary[projectId]] = [];
          }
          groupedIssues[modifiedDictionary[projectId]].push(issue);
        }
      }
      return groupedIssues;
    },
    CalculateOverdueOfAssignee(name) {
      if (!this.mapOfUserToIssues[name] || this.mapOfUserToIssues[name].length === 0) {
        // there are no users we return
        return;
      }
      let currentIssues = this.mapOfUserToIssues[name].filter(item => item.due_date && this.compareDateWithToday(item.due_date) !== "" && item.state !== 'closed')
      let totalEffortRemaining = currentIssues.reduce((total, item) => Math.max(item.time_stats.time_estimate - item.time_stats.total_time_spent, 0) + total, 0)
      return { value: (totalEffortRemaining / 3600).toFixed(2), issues: currentIssues }
    },
    CheckIfAllIssuesAreManaged(name) {
      // algorithm is mensioned in details in the wiki documentation
      if (!this.mapOfUserToIssues[name] || this.mapOfUserToIssues[name].length === 0) {
        return [];
      }
      const currentIssues = this.mapOfUserToIssues[name].filter(item => item.due_date && item.state !== 'closed' && this.compareDateWithToday(item.due_date) === "")
      currentIssues.sort((a, b) => {
        if (new Date(a.due_date) < new Date(b.due_date)) {
          return -1
        }
        if (new Date(a.due_date) > new Date(b.due_date)) {
          return 1
        }
        return 0;
      })
      let remainingEffort = 0;
      let issuesManaged = 0;
      let ans = [];
      for (const issue of currentIssues) {
        let AvailableTime = this.getWorkingDaysFromToday(issue.due_date) * this.mapOfTrackingToHours.doing
        remainingEffort += Math.max(issue.time_stats.time_estimate - issue.time_stats.total_time_spent, 0) / 3600
        if (AvailableTime - remainingEffort < 0) {
          ans.push(issue);
        }
        issuesManaged++;
      }
      return ans;
    },
    calculateRemaingEffort(date, name) {
      // remaining effort of tasks assigned to the user
      if (!this.mapOfUserToIssues[name] || this.mapOfUserToIssues[name].length === 0) {
        return;
      }
      // all the issues which have due date and are not closed and due date not in the past.
      const currentIssues = this.mapOfUserToIssues[name].filter(item => item.due_date && item.state !== 'closed' && this.compareDateWithToday(item.due_date) === "")
      const remainingEffort = currentIssues.reduce((total, item) => {
        // if the effort spent is more than the effort estimated, we're considering 0 remaining effort
        let remainingEffort = Math.max((item.time_stats.time_estimate - item.time_stats.total_time_spent), 0);
        // if the due date is greater than the end date equally distributing the remaining effort from today to the due date
        if (new Date(item.due_date) > new Date(date)) {
          remainingEffort = remainingEffort * (this.getWorkingDaysFromToday(date) / this.getWorkingDaysFromToday(item.due_date))
        }
        return total + remainingEffort
      }, 0)
      return Math.max((remainingEffort / 3600).toFixed(2), 0)
    },
    calculateOccupancyHours(forTasks = false, name = null) {
      // algorithm is described in the wiki page of the project
      // this function calculates the occupacy hours for both the particular user and for the date range selected
      // e.g. if the name is null it retruns the working hours available depending upon the filters selected in the resource summary
      // else if name is not null then occupancy of the user is calculated based upon the filters selected ( with the help of calculateRemaingEffort function )
      if (this.selectedTrackingForResourceSummary !== 'Custom') {
        if (this.selectedTrackingForResourceSummary === 'this_week') {
          const today = new Date();
          const currentDayOfWeek = today.getDay(); // 0 (Sunday) to 6 (Saturday)
          let daysUntilLastDayOfWeek = hourValues.value.weekDays - currentDayOfWeek; // LastDayOfWeek is the hourValues.value.weekDays th day of the week
          if (daysUntilLastDayOfWeek < 0) {
            // If today is  later than LastDayOfWeek, add 7 days to get the next LastDayOfWeek
            daysUntilLastDayOfWeek += 7;
          }
          const nextLastDayOfWeekDate = new Date(today.getTime() + daysUntilLastDayOfWeek * 24 * 60 * 60 * 1000);
          // Formatting the date as yyyy/mm/dd
          const formattedDate = `${nextLastDayOfWeekDate.getFullYear()}/${(nextLastDayOfWeekDate.getMonth() + 1).toString().padStart(2, "0")}/${nextLastDayOfWeekDate.getDate().toString().padStart(2, "0")}`;

          if (forTasks && name) {
            return this.calculateRemaingEffort(formattedDate, name)
          }
          return (this.getWorkingDaysFromToday(formattedDate) * this.mapOfTrackingToHours.doing)
        }
        else if (this.selectedTrackingForResourceSummary === 'this_month') {
          if (forTasks && name) {
            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth() + 1; // Months are zero-based, so adding 1
            const lastDayOfMonth = new Date(year, month, 0).getDate();
            const endOfMonthDate = new Date(year, month - 1, lastDayOfMonth);

            // Formatting the date as yyyy/mm/dd
            const formattedDate = `${endOfMonthDate.getFullYear()}-${(endOfMonthDate.getMonth() + 1).toString().padStart(2, "0")}-${endOfMonthDate.getDate().toString().padStart(2, "0")}`;
            return this.calculateRemaingEffort(formattedDate, name)
          }
          return (this.getWorkingDays() * this.mapOfTrackingToHours.doing)
        }
        else {
          if (forTasks && name) {
            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth() + 2; // Months are zero-based, so adding 1
            const lastDayOfMonth = new Date(year, month, 0).getDate();
            const endOfMonthDate = new Date(year, month - 1, lastDayOfMonth);
            // Formatting the date as yyyy-mm-dd
            const formattedDate = `${endOfMonthDate.getFullYear()}-${(endOfMonthDate.getMonth() + 1).toString().padStart(2, "0")}-${endOfMonthDate.getDate().toString().padStart(2, "0")}`;
            return this.calculateRemaingEffort(formattedDate, name)
          }
          return (this.getWorkingDays(false) * this.mapOfTrackingToHours.doing)
        }
      }

      if (forTasks && name && this.resourceEndDate) {
        return this.calculateRemaingEffort(this.resourceEndDate, name)
      }
      // Formatting the date as yyyy-mm-dd
      return this.getWorkingDaysFromToday(this.resourceEndDate) * this.mapOfTrackingToHours.doing
    },
    setColorOfLoadingWarning(key = null) {
      // color is set green, blue or red depending upon the occupancy level of the user
      // here key is the name of the user
      if (key) {
        let fraction = this.calculateOccupancyHours(true, key) / this.calculateOccupancyHours();
        if (fraction >= this.mapOfTrackingToHours['min_limit'] && fraction <= this.mapOfTrackingToHours['max_limit']) {
          return "text-primary";
        }
        else if (fraction < this.mapOfTrackingToHours['min_limit']) {
          return "text-green"
        }
        return "text-red";
      }
      return "";
    },
    getWorkingDays(this_month = true) {
      // if this_month is false the working days from today to the end of the next month are calculated
      // else working days from today to this month is calculated
      const today = new Date();
      const year = today.getFullYear();
      const month = today.getMonth() + ((this_month) ? 1 : 2); // Months are zero-based, so adding 1
      const lastDayOfMonth = new Date(year, month, 0).getDate();
      const endOfMonthDate = new Date(year, month - 1, lastDayOfMonth);
      const formattedDate = `${endOfMonthDate.getFullYear()}/${(endOfMonthDate.getMonth() + 1)
        .toString()
        .padStart(2, "0")}/${endOfMonthDate.getDate().toString().padStart(2, "0")}`;
      return this.getWorkingDaysFromToday(formattedDate);
    },
    getWorkingDaysFromToday(endDate) {
      const oneDay = 24 * 60 * 60 * 1000; // One day in milliseconds
      const end = new Date(endDate);
      end.setTime(end.getTime() + oneDay)

      let workingDays = 0;
      let currentDate = new Date();

      while (currentDate <= end) {
        let dayOfWeek = currentDate.getDay();
        if (dayOfWeek === 0){
          dayOfWeek = 7
        }
        if (dayOfWeek >= 1 && dayOfWeek <= hourValues.value.weekDays) {
          workingDays++;
        }
        currentDate.setTime(currentDate.getTime() + oneDay); // Move to the next day
      }
      return workingDays;
    },
    getInformationOfAllUsers() {
      // function is called when the user selects one of the filter in the resource summary
      this.resourceEndDate = null;
      for (const name of Object.keys(this.mapOfUserToIssues)) {
        this.informationOfAllUsers[name] = this.mapOfUserToIssues[name].filter(item => item.state !== 'closed').reduce((total, item) => item.time_stats.time_estimate + total, 0);
      }
      if (this.selectedTrackingForResourceSummary !== 'Custom') {
        // if no custom then disable the calender input
        this.customDateForResourceSummay = false;
        for (const name of Object.keys(this.mapOfUserToIssues)) {
          this.informationOfAllUsers[name] = this.mapOfUserToIssues[name].filter(item => item.state !== 'closed').filter(item => item.labels.includes(this.selectedTrackingForResourceSummary)).reduce((total, item) => item.time_stats.time_estimate + total, 0);
        }
      }
      else {
        this.customDateForResourceSummay = true;
        const today = new Date()
        // set the date of the calender to today
        this.resourceEndDate = `${today.getFullYear()}-${(today.getMonth() + 1).toString().padStart(2, "0")}-${today.getDate().toString().padStart(2, "0")}`;
      }
    },
    calculateFarthestDueDate() {
      const filteredDates = this.filteredListItems.filter(item => item.due_date !== null).map(item => new Date(item.due_date))
      const largestDate = filteredDates.reduce((minDate, currentDate) => {
        if (currentDate > minDate) {
          return currentDate;
        } else {
          return minDate;
        }
      }, filteredDates[0]);
      if (!largestDate) {
        return
      }
      const largestDateString = largestDate.toISOString().split("T")[0];
      return largestDateString
    },
    calculateLatestDueDate() {
      const filteredDates = this.filteredListItems.filter(item => item.due_date !== null).map(item => new Date(item.due_date))
      const smallestDate = filteredDates.reduce((minDate, currentDate) => {
        if (currentDate < minDate) {
          return currentDate;
        } else {
          return minDate;
        }
      }, filteredDates[0]);
      if (!smallestDate) {
        return
      }
      const smallestDateString = smallestDate.toISOString().split("T")[0];
      return smallestDateString
    },
    listItemSeleted(value) {
      // same function as the project view
      if (!value || (!this.selectedListItem && !this.selectedListItemTracking) || !this.model) {
        return;
      }
      //filtering for the state dropdown
      if (this.filteredListItems) {
        this.filteredListItems = this.labelToIssueMap[this.selectedListItem];
      }
      //filtering for the tracking dropdown
      if (this.selectedListItemTracking) {
        if (this.selectedListItemTracking === 'None') {
          this.selectedListItemTracking = null;
        }
        else {
          this.filteredListItems = this.filteredListItems.filter(item => item.labels.includes(this.selectedListItemTracking))
        }
      }
      for (const v of this.moreFilterOptions) {
        if (v === 'without estimate' && this.filteredListItems) {
          this.filteredListItems = this.filteredListItems.filter(item => item.time_stats.time_estimate === 0)
        }
        else if (v === 'without due date' && this.filteredListItems) {
          this.filteredListItems = this.filteredListItems.filter(item => item.due_date === null)
        }
      }
      if (this.labelDataTypeSelected) {
        for (const v of this.labelDataTypeSelected) {
          this.filteredListItems = this.filteredListItems.filter(item => item.labels.includes(v))
        }
      }
      if (this.labelDataUncertaintySelected) {
        if (this.labelDataUncertaintySelected.length > 1) {
          this.labelDataUncertaintySelected = [this.labelDataUncertaintySelected[1]]
        }
        for (const v of this.labelDataUncertaintySelected) {
          this.filteredListItems = this.filteredListItems.filter(item => item.labels.includes(v))
        }
      }
      // this.moreFilterSelected(this.moreFilterOptions)

      //calling the assigneduserSelected method on the null assignee
      this.selectedUserAssignee = null;
      //updating the porject view
      this.getProjectsInformation();

    },

    compareDateWithToday(dueDateString) {
      const dueDate = new Date(dueDateString);
      dueDate.setHours(23);
      dueDate.setMinutes(59);
      const today = new Date();
      return (today > dueDate) ? "text-red" : "";
    },
    getJsonData(path) {
      // same function as the project view
      return new Promise((resolve, reject) => {
        const request = new XMLHttpRequest();

        request.addEventListener('load', () => {
          if (request.status >= 200 && request.status < 400) {
            resolve(JSON.parse(request.responseText));
          } else {
            reject(Error(request.statusText));
          }
        });

        request.addEventListener('error', () => {
          reject(Error('Network Error'));
        });

        request.open('GET', path, true);
        request.send();
      });
    },
    fetchData() {
      // fetching all the issues for the selected project and grouping them
      Loading.show();
      this.listOfProjectIds = []
      this.mapOfUserToIssues = {}
      try {
        (async () => {
          let allIssues = [];
          // only all the issues of the selected projects are fetched, the name of the projects selected is stored in teh group.values
          for (const name of group.value) {
            let page = 1;
            while (true) {
              const response = await axios
                .get(`${this.gitUrl}/api/v4/projects/${dictionary.value[name]}/issues`, {
                  headers: {
                    'PRIVATE-TOKEN': this.accessToken,
                  },
                  params: {
                    page
                  }
                })
              const issues = response.data;
              if (issues.length === 0) {
                break;
              }
              page++;
              allIssues = [...allIssues, ...issues];
            }
          }
          return allIssues;
        })()
          .then((response) => {
            // grouping the issues by the user
            const issues = response;
            issues.forEach(async (issue) => {
              if (!this.listOfProjectIds.includes(issue.project_id)) {
                this.listOfProjectIds.push(issue.project_id);
              }
              const { assignee } = issue;
              if (assignee !== null) {
                if (!this.mapOfUserToIssues.hasOwnProperty(assignee.name)) {
                  this.mapOfUserToIssues[assignee.name] = [];
                }
                this.mapOfUserToIssues[assignee.name].push(issue);
              }
            });

            // to group the fetched uses by the users
            this.getInformationOfAllUsers()

            // list of unique users to select from the dropdown list
            this.options = Object.keys(this.mapOfUserToIssues)

            // fetching the projects infromation
            // list of promises for fetching information of all the projects
            const promises = this.listOfProjectIds.map((id) =>
              axios.get(`${this.gitUrl}/api/v4/projects/${id}`, {
                headers: {
                  'PRIVATE-TOKEN': this.accessToken,
                },
              })
            );
            //waiting till all the promises are not complete
            Promise.all(promises)
              .then((responses) => {
                for (let i = 0; i < responses.length; i++) {
                  const id = this.listOfProjectIds[i];
                  this.mapOfProjectIdToProject[id] = responses[i].data;
                }
                let selectedUser = localStorage.getItem("selectedUserInResourceView")
                if (selectedUser) {
                  this.model = selectedUser;
                  // if the user is selected then get the project information for this user
                  this.fetchUserInfo(this.model);
                }
                Loading.hide()
              })
          })
      }
      catch (err) {
        alert("Error Loading the data",err);
        Loading.hide()
      }
    },
    fetchUserInfo(value) {
      // function to extract information for the selected user from the fetched issues and the projects

      // storing the selected user in the local storage
      localStorage.setItem("selectedUserInResourceView", value);

      // groping of the issues is same as done in the project view
      this.filteredListItems = this.mapOfUserToIssues[value]
      this.filteredListItems = this.filteredListItems.filter(item => item.title != "conf.0")
      this.openedIssues = this.filteredListItems.filter(issue => {
        return issue.state === 'opened' && !issue.labels.some(label => this.labelData.map(item => item.title).includes(label));
      });

      //closed issues :
      this.closedIssues = this.filteredListItems.filter(issue => {
        return issue.state === 'closed'
      })
      this.labelToIssueMap['Closed'] = this.closedIssues
      this.newLabelList.forEach(label => {
        this.labelToIssueMap[label] = this.filteredListItems.filter(issue =>
          issue.labels.includes(label) && issue.state !== 'closed'
        );
      });
      //mapping opened and closed:
      this.labelToIssueMap['Non Scheduled'] = this.openedIssues
      this.labelToIssueMap['All'] = this.filteredListItems
      this.labelToIssueMap['Open'] = this.filteredListItems.filter(item => item.state !== 'closed')
      this.filteredListItems = this.labelToIssueMap['Open'];
      this.selectedUserAssignee = null;
      this.listItemSeleted('none')
      //updating the porject view
      this.getProjectsInformation();
    },
    async getProjectsInformation() {

      // get the project information from the list of issues for the selected user
      this.mapOfProjectIdToProjectForAUser = {};
      for (const issue of this.filteredListItems) {
        this.mapOfProjectIdToProjectForAUser[issue.project_id] = this.mapOfProjectIdToProject[issue.project_id];
        this.mapOfProjectIdToProjectForAUser[issue.project_id].time_estimate = 0;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].total_time_spent = 0;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].latest_due_date = null;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].farthest_due_date = null;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].total_tasks = 0;
      }

      for (const issue of this.filteredListItems) {
        this.mapOfProjectIdToProjectForAUser[issue.project_id].time_estimate += issue.time_stats.time_estimate / 3600;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].total_time_spent += issue.time_stats.total_time_spent / 3600;
        this.mapOfProjectIdToProjectForAUser[issue.project_id].total_tasks++;
        if (issue.due_date) {
          if (!(this.mapOfProjectIdToProjectForAUser[issue.project_id].latest_due_date < issue.due_date)) {
            this.mapOfProjectIdToProjectForAUser[issue.project_id].latest_due_date = issue.due_date
          }
          if (!(this.mapOfProjectIdToProjectForAUser[issue.project_id].farthest_due_date > issue.due_date)) {
            this.mapOfProjectIdToProjectForAUser[issue.project_id].farthest_due_date = issue.due_date
          }
        }
      }
    }
  },

}
</script>
