<template >
  <div v-if="true">
    <div class="q-pa-md" style="max-width: 100%">
      <div>
        <div class="row">
          <q-list flat class="col flat q-ma-sm bg-grey-3 q-pa-sm">

            <q-card flat class="bg-grey-3" style="width:100%;">
              <div class="text-h5 q-mt-sm q-pl-sm q-pt-sm q-pb-sm text-primary"
                style="display: flex; justify-content: space-between; align-items: center;">
                <div>Snapshot List</div>
                <q-space />
                <q-btn class="float-right q-mr-sm" style="height: 100%;" color="primary" label='Save Snapshot' :disable="options.length === 0"
                  @click="takeSnapShot" />
              </div>
            </q-card>

            <q-list>
              <transition-group appear enter-active-class="animated backInDown slower"
                leave-active-class="animated backOutDown slower">
                <q-item clickable class=" q-ma-sm " v-for="key in Object.keys(snapShotInfo)" :key="key"
                  :class="(activeSnap !== key) ? 'bg-white text-primary' : ''" :active="activeSnap === key"
                  @click="activeSnap = key" active-class="my-menu-link">
                  <q-item-section avatar>
                    <q-icon color="primay" name="send" />
                  </q-item-section>
                  <q-item-section>{{ key }}</q-item-section>
                  <q-item-section avatar>
                    <i class="fa-sharp fa-solid fa-trash" @click="deleteSnapShot(key)"></i>
                  </q-item-section>
                </q-item>
              </transition-group>
            </q-list>
            <q-card v-if="!snapShotInfo || Object.keys(snapShotInfo).length === 0"
              class="issue-card q-pa-sm q-mt-sm q-mb-sm" v-ripple>
              <div class="text-grey text-center text-h6 q-mt-sm q-mb-xs">No Snapshots To Show</div>
            </q-card>
          </q-list>
          <q-list flat class="col flat q-ma-sm bg-grey-3 q-pa-sm">
            <q-card flat class="bg-grey-3" style="width:100%;">
              <div class="text-h5 q-mt-sm q-pl-sm q-pt-sm q-pb-sm text-primary"
                style="display: flex; justify-content: space-between; align-items: center;">
                <div>Projects</div>
              </div>
            </q-card>
            <q-list>
              <transition-group appear enter-active-class="animated fadeIn slower"
                leave-active-class="animated backOutDown slower">
                <q-item  class="bg-white q-ma-sm text-primary" v-for="id in snapShotInfo[activeSnap]" :key="id">
                  <q-item-section>
                    <div class="row">
                      <q-chip class="q-mr-md q-ml-sm " dense icon="fa-solid fa-clipboard">
                        {{ Object.keys(id)[0] }}
                        <q-tooltip transition-show="scale" transition-hide="scale">
                          Project Id
                        </q-tooltip>
                      </q-chip>
                      <div class="text-subtitle1" v-if="Object.values(id)[0].name">
                        <strong>
                          {{ Object.values(id)[0].name }}
                        </strong>
                      </div>
                      <div class="text-subtitle1" v-if="!Object.values(id)[0].name">
                        <strong>
                          No project name stored in the snapshot
                        </strong>
                      </div>
                    </div>
                  </q-item-section>
                </q-item>
              </transition-group>
            </q-list>
            <q-card v-if="!snapShotInfo || !snapShotInfo[activeSnap] || snapShotInfo[activeSnap].length === 0"
              class="issue-card q-pa-sm q-mt-sm q-mb-sm" v-ripple>
              <div class="text-grey text-center text-h6 q-mt-sm q-mb-xs">No Projects To Show</div>
            </q-card>
          </q-list>
        </div>

      </div>
    </div>

    <q-dialog v-model="deleteSnap" persistent transition-show="rotate" transition-hide="rotate" style="min-width: 100vh;">
      <q-card style="min-width: 40vh;">
        <q-card-section>
          <div class="text-h6">Are you sure ?</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p v-for="n in 1" :key="n">The snapshot will be permanently deleted. Continue?</p>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="No" color="primary" v-close-popup @click="deleteSnap = false"></q-btn>
          <q-btn flat label="Yes" color="primary" v-close-popup @click="deleteSnapShotReally"></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ref } from 'vue'
import { userURL, userAccessToken, dictionary, group, hourValues } from './store.js';
import axios from 'axios';
import { useQuasar } from 'quasar'
import { Loading, QSpinnerGears } from 'quasar'


export default {
  async created() {
  },
  async mounted() {
  },
  setup() {
    // snapshot in the local storage is used by only this view as this Data contains the snapshot values and corresponding projects taken
    // to show actual snapshot snapShotProjectInfo is used as this Data contains the snapshot grouped by the projects
    const $q = useQuasar()
    let snapShot = {}
    try {
      snapShot = $q.localStorage.getItem('snapShot');
    } catch (error) {
      snapShot = {}
    }
    if (!snapShot) {
      snapShot = {}
    }
    let snapShotProject = {}
    try {
      snapShotProject = $q.localStorage.getItem('snapShotProjectInfo');
    } catch (error) {
      snapShotProject = {}
    }
    if (!snapShotProject) {
      snapShotProject = {}
    }
    return {
      deleteSnap: ref(false),
      snapKeyTobeDeleted: ref(),
      snapShotInfo: ref(snapShot),
      snapShotProjectInfo: ref(snapShotProject),
      q_useQuasar: ref($q),
      accessToken: userAccessToken,
      dictionary: dictionary,
      apiUrl: userURL,
      issuesMap: ref({}),
      milestoneMap: ref({}),
      options: group,
      activeSnap: ref(''),
      link: ref('inbox')

    }
  },

  methods: {
    deleteSnapShot(key) {
      // this function is called for the users confirmation to delete the snap shot
      this.deleteSnap = true;
      this.snapKeyTobeDeleted = key;
    },
    deleteSnapShotReally() {
      this.deleteSnap = false;
      for (const key of this.snapShotInfo[this.snapKeyTobeDeleted]) {
        delete this.snapShotProjectInfo[Object.keys(key)[0]][this.snapKeyTobeDeleted]
      }
      delete this.snapShotInfo[this.snapKeyTobeDeleted]
      this.q_useQuasar.localStorage.set('snapShotProjectInfo', this.snapShotProjectInfo)
      this.q_useQuasar.localStorage.set('snapShot', this.snapShotInfo)
    },
    async takeSnapShot() {
      // we take the snap shot of the all the selected projects the logic is quite straight forward
      Loading.show();
      const date = new Date();
      let data = [];
      for (const key of this.options) {
        const projectId = this.dictionary[key]
        const issues = await this.getIssues(projectId);
        let groupOfMilestones = await this.fetchMileStones(projectId);
        data.push({ [projectId]: { issues: issues, groupOfMileStones: groupOfMilestones, name: key } })
        //updating for each project;
        let tmp = {};
        tmp[date.toString().split("(")[0] +' - v' + String(require('./../../package.json').version)] = { issues: issues, groupOfMilestones: groupOfMilestones }
        if (Object.keys(this.snapShotProjectInfo)) {
          tmp = { ...tmp, ...this.snapShotProjectInfo[projectId] }
        }
        this.snapShotProjectInfo[projectId] = tmp;
        this.q_useQuasar.localStorage.set('snapShotProjectInfo', this.snapShotProjectInfo)
      }
      this.snapShotInfo = { [date.toString().split('(')[0]+' - v' + String(require('./../../package.json').version)]: data, ...this.snapShotInfo }
      this.q_useQuasar.localStorage.set('snapShot', this.snapShotInfo)
      Loading.hide();
    },
    async generalFetchingFunction(url, perPage = 20) {
      // function to fetch all the issues
      let finalResult = null;
      let currentPage = 1; // Initial page number
      let allresult = []; // Array to store all retrieved issues
      finalResult = await (async () => {
        while (true) {
          try {
            const response = await axios.get(url, {
              headers: {
                'PRIVATE-TOKEN': this.accessToken,
              },
              params: {
                page: currentPage,
                per_page: perPage,
              },
            });
            const result = response.data;
            if (result.length === 0) {
              break; // Exit the loop if no more issues are returned
            }
            // this.fetchMileStones(issues);
            allresult = allresult.concat(result);
            // console.log("****all", allresult)
            currentPage++;
          } catch (error) {
            Loading.hide();
            console.error(`Error retrieving result for project `, error);
            break;
          }
        }
        return allresult;
      })();
      return finalResult;
    },
    async getIssues(projectId) {
      let issues = await this.generalFetchingFunction(`${this.apiUrl}/api/v4/projects/${projectId}/issues`)
      return issues;
    },
    async fetchMileStones(projectId) {
      let groupOfMileStones = { 'Other': [] }
      let response = await this.generalFetchingFunction(`${this.apiUrl}/api/v4/projects/${projectId}/milestones`)
      await this.extractInformationFromMilestones(response, groupOfMileStones, projectId)
      if (groupOfMileStones['Other'].length === 0) {
        delete groupOfMileStones['Other'];
      }
      return groupOfMileStones;
    },
    async extractInformationFromMilestones(response, groupOfMileStones, projectId) {
      // for extracting the issues under particular milestone
      for (let i in response) {
        const milestone = response[i]
        response[i] = { ...response[i], issues: [], mergeRequests: 0 }
        let response_issues = await this.generalFetchingFunction(`${this.apiUrl}/api/v4/projects/${projectId}/milestones/${milestone.id}/issues`);
        response[i].issues = response_issues
        axios.get(`${this.apiUrl}/api/v4/projects/${projectId}/milestones/${milestone.id}/merge_requests`, {
          headers: {
            'PRIVATE-TOKEN': this.accessToken,
          }
        })
          .then((response_requests) => {
            response[i].mergeRequests = response_requests.data.length;
          })
          .then(() => {
            const check = this.checkMilestoneDescriptionFormat(response[i]);
            if (check) {
              if (groupOfMileStones[check]) {
                groupOfMileStones[check].push(response[i]);
              }
              else {
                groupOfMileStones[check] = [response[i]];
              }
            }
            else {
              groupOfMileStones['Other'].push(response[i])
            }
          })
      }
    },
    checkMilestoneDescriptionFormat(milstone) {
      if (!this.checkMilestoneNameFormat(milstone)) {
        return null
      }
      var regex = /{([^}]*)}/;;
      const matchResult = milstone.description.match(regex);
      if (!matchResult) {
        return matchResult
      }
      try {
        const jsonArray = JSON.parse(matchResult[0]);
        return Object.values(jsonArray)[0];
      }
      catch (error) {
        return null;
      }
    },
    checkMilestoneNameFormat(milstone) {
      const regrex = /^\d{2}\.\s\w+/;
      return regrex.test(milstone.title)
    },
  }
}
</script>
<style lang="sass">
.my-menu-link
  color: white
  background: #79b3ec


</style>
