<template>
  <div >
    <q-list v-for="n in 1" :key="n" class="bg-white q-ml-sm q-pl-md"  padding>
      <q-option-group  class="q-pr-xl" :options="this.options" type="checkbox" v-model="this.group"
        @update:modelValue="optionClicked">
        <template v-slot:label="opt">
          <div class="row q-pl-md">
            <span class="text-teal ">{{ opt.label }}</span>
          </div>
        </template>
      </q-option-group>
    </q-list>
  </div>
</template>

<script>
import { ref } from 'vue'
import { options, group, dictionary } from './../pages/store';
export default {
  props: {
    filter: {
      type: Boolean,
      required: true
    },
    clearSelections: {
      type: Boolean,
      required: true
    },
    projectsFetched: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    filter(newFilter) {
      // React to changes in the filter value
      // Perform necessary actions or update behavior
      if (newFilter) {
        this.options = options.value.filter(item => item.value.endsWith('-issues'));
      }
      else {
        this.options = options.value;
      }
    },
    clearSelections() {
      this.group = [],
      localStorage.setItem('group', JSON.stringify(this.group))
    },
    projectsFetched () {
      this.options = JSON.parse(localStorage.getItem('options'))
      this.group = JSON.parse(localStorage.getItem('group'))
    }
  },
  setup() {
    let filtered_options = options.value;
    return {
      group: group,
      options: ref(filtered_options),
      dictionary: dictionary
    }
  },
  methods: {
    optionClicked() {
      // Handle the option click event
      // You can access the selected options from `this.group` array
      localStorage.setItem('group', JSON.stringify(this.group))
      localStorage.removeItem("selectedUserInResourceView");
      localStorage.removeItem('selectedProject')

      // Call your function here or perform any desired action
    }
  }
}
</script>

