<template>
<div class="q-mt-sm" style="width: 100%">
    <div class="cursor-pointer  " >
      <q-input outlined   v-model="gitUrl"  :type="textType ? 'text' : 'password'" />
      <q-popup-edit v-model="gitUrl" :validate="val => val.length > 5" v-slot="scope" @update:model-value="valueEntered">
        <q-input :type="textType ? 'text' : 'password'" autofocus dense v-model="scope.value" :model-value="scope.value" :hint="hint" :rules="[
          val => scope.validate(val) || 'More than 5 chars required'
        ]">
          <template v-slot:after>
            <q-btn flat dense color="negative" icon="cancel" @click.stop.prevent="scope.cancel" />

            <q-btn flat dense color="positive" icon="check_circle" @click.stop.prevent="scope.set"
              @click="popUp(scope.initialValue)"
              :disable="scope.validate(scope.value) === false || scope.initialValue === scope.value" />
          </template>
        </q-input>
      </q-popup-edit>
    </div>
  </div>

  <q-dialog v-model="basic" persistent transition-show="rotate" transition-hide="rotate" style="min-width: 100vh;">
      <q-card style="min-width: 40vh;" >
        <q-card-section >
          <div class="text-h6">Are you sure ?</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p v-for="n in 1" :key="n">All the prefferences will be lost </p>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Decline" color="primary" v-close-popup @click="decline"></q-btn>
          <q-btn flat label="Accept" color="primary" v-close-popup @click="onClickLocal(gitUrl)"></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<script>
import { ref } from 'vue';
import { userURL } from '../pages/store'
export default {

  name: 'InputBox',
  props: {
    hint: {
      type: String,
      required: true
    },
    onClick: {
      type: Function,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    textType: {
      type: Boolean,
      default: true
    },
    fetch:{
      type:Function,
      required:true
    }
  }, // Define the 'hint' prop
  setup(value) {
    return {
      gitUrl: value.value,
      basic:ref(false),
      previous_input : ref(""),
      edit:ref(false)
    }
  },
  methods: {
    onClickLocal(inputValue) {
      // this.gitUrl = inputValue;
      console.log(userURL, "this url ", this.gitUrl);
      this.onClick(inputValue);
      this.fetch();
    },
    popUp(pre_input){
      this.basic = true
      this.previous_input = pre_input
    },
    decline(){
      this.basic = false
      console.log(this.previous_input)
      this.gitUrl = this.previous_input
      console.log(this.gitUrl)
    },
    valueEntered(){
      console.log("value entered")
    }

  }
}
</script>
