<!-- quasar build -m electron -P always  -->
<!-- electron-installer-debian --src dist/electron/ZTrack v0.1-linux-x64/ --dest dist/installers/ --arch amd64 -->
<template>
  <q-layout view="hHh Lpr lff">
    <q-header elevated>
      <q-bar class="q-electron-drag q-pl-lg q-pl-md ">
        <!-- <q-icon name="laptop_chromebook" /> -->
        <!-- <div class="q-pl-md">Ztrack</div> -->

        <q-space />

        <q-btn dense flat icon="minimize" @click="minimize" />
        <q-btn dense flat icon="crop_square" @click="toggleMaximize" />
        <q-btn dense flat icon="close" @click="closeApp" />
      </q-bar>
      <q-toolbar class=" q-mb-sm">
        <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          ZTrack
        </q-toolbar-title>

        <div>ZTrack v{{ require('./../../package.json').version }}</div>
      </q-toolbar>
    </q-header>
    <q-drawer v-model="leftDrawerOpen" show-if-above :mini="miniState"
     :width="300" :breakpoint="500" bordered
      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-grey-3'">

      <q-list class="q-pt-md q-pb-md ">
        <q-item class="" header>
          <!-- <q-icon class="fa-sharp fa-solid fa-train"/> -->
          <q-item-section avatar>
            <q-icon name="fa-solid fa-bars-progress" size="sm" color="primary" class="" @click.capture="drawerClick"/>
          </q-item-section>
          <q-item-section>
            <span class="text-h6 text-primary">ZTrack</span>
          </q-item-section>
        </q-item>
        <q-separator style="width: 100%;" />

        <q-item to="/project_view" exact clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>

          <q-item-section class="text-h6 text-weight-bold">Project View</q-item-section>
        </q-item>
        <q-item to="/resource_view" exact clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="fa-solid fa-people-roof" />
          </q-item-section>

          <q-item-section class="text-h6 text-weight-bold">Resource View</q-item-section>
        </q-item>
        <q-item to="/snapshot_view" exact clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="inbox" />
          </q-item-section>

          <q-item-section class="text-h6 text-weight-bold">Snapshots</q-item-section>
        </q-item>
        <!-- <q-item to="/testing" exact clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="help" />
          </q-item-section>

          <q-item-section class="text-h6 text-weight-bold">Testing View</q-item-section>
        </q-item> -->
      </q-list>

      <div>
        <!-- Your bottom list item here -->
        <q-list class="q-mb-md">
          <q-item class="container q-pb-md " to="/git_settings" exact clickable v-ripple>
            <q-item-section class="" avatar>
              <q-icon name="settings" />
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bold q-mr-xl">Settings</q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="q-mini-drawer-hide absolute" style="top: 49px; right: -17px">
          <q-btn
            dense
            round
            unelevated
            color="primary"
            icon="chevron_left"
            @click="miniState = true"
          />
        </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<style>
.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background-color:#1976D2; */


  /* height: 100vh; Set the height of the container to take up the full viewport height */
}
</style>
<script>
import { defineComponent, ref } from 'vue'

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
]

export default defineComponent({
  name: 'MainLayout',


  setup() {
    const leftDrawerOpen = ref(false)
    function minimize() {
      window.myWindowAPI?.minimize()
    }

    function toggleMaximize() {
      window.myWindowAPI?.toggleMaximize()
    }

    function closeApp() {
      window.myWindowAPI?.close()
    }
    const miniState = ref(true)
    return {
      minimize, toggleMaximize, closeApp,
      essentialLinks: linksList,
      leftDrawerOpen,
      miniState,
      drawerClick (e) {
        // if in "mini" state and user
        // click on drawer, we switch it to "normal" mode
        if (miniState.value) {
          miniState.value = false

          // notice we have registered an event with capture flag;
          // we need to stop further propagation as this click is
          // intended for switching drawer to "normal" mode only
        }
        else {
          miniState.value = true

        }
        e.stopPropagation()
      },
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
